USE [DolumMakinesiDB]
GO
/****** Object:  Table [dbo].[GasSettings]    Script Date: 18.01.2026 18:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GasSettings](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RecipeID] [int] NULL,
	[SettingName] [nvarchar](100) NULL,
	[ValueMS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionLog]    Script Date: 18.01.2026 18:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [nvarchar](50) NULL,
	[LogDate] [datetime] NULL,
	[Material] [nvarchar](100) NULL,
	[TotalProductionCC] [float] NULL,
	[TotalWeightKG] [float] NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipes]    Script Date: 18.01.2026 18:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipes](
	[RecipeID] [int] IDENTITY(1,1) NOT NULL,
	[RecipeName] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[D1_Volume] [float] NULL,
	[D1_Speed] [int] NULL,
	[D1_Pressure] [float] NULL,
	[D2_Volume] [float] NULL,
	[D2_Speed] [int] NULL,
	[D2_Pressure] [float] NULL,
	[D3_Volume] [float] NULL,
	[D3_Speed] [int] NULL,
	[D3_Pressure] [float] NULL,
	[D4_Volume] [float] NULL,
	[D4_Speed] [int] NULL,
	[D4_Pressure] [float] NULL,
	[Tank_VacuumLevel] [int] NULL,
	[Tank_MixerSpeed] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RecipeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShiftStatistics]    Script Date: 18.01.2026 18:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftStatistics](
	[StatID] [int] IDENTITY(1,1) NOT NULL,
	[ShiftHour] [int] NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemLogs]    Script Date: 18.01.2026 18:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[LogDate] [datetime] NULL,
	[Username] [nvarchar](50) NULL,
	[UserRole] [nvarchar](20) NULL,
	[ActionDescription] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 18.01.2026 18:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[UserRole] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GasSettings] ON 

INSERT [dbo].[GasSettings] ([ID], [RecipeID], [SettingName], [ValueMS]) VALUES (33, 1, N'GasFull', 1010)
INSERT [dbo].[GasSettings] ([ID], [RecipeID], [SettingName], [ValueMS]) VALUES (34, 1, N'GasEmpty', 505)
INSERT [dbo].[GasSettings] ([ID], [RecipeID], [SettingName], [ValueMS]) VALUES (35, 1, N'TableIn', 1500)
GO
SET IDENTITY_INSERT [dbo].[GasSettings] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductionLog] ON 

INSERT [dbo].[ProductionLog] ([LogID], [OrderID], [LogDate], [Material], [TotalProductionCC], [TotalWeightKG], [Status]) VALUES (1, N'ORD-88529', CAST(N'2026-01-15T06:37:08.880' AS DateTime), N'PU Facade 310ml - Anthracite Grey', 331, 26.48, N'Completed')
INSERT [dbo].[ProductionLog] ([LogID], [OrderID], [LogDate], [Material], [TotalProductionCC], [TotalWeightKG], [Status]) VALUES (2, N'ORD-51778', CAST(N'2026-01-14T06:37:08.880' AS DateTime), N'PU Facade 310ml - Anthracite Grey', 594, 47.52, N'Completed')
INSERT [dbo].[ProductionLog] ([LogID], [OrderID], [LogDate], [Material], [TotalProductionCC], [TotalWeightKG], [Status]) VALUES (3, N'ORD-69901', CAST(N'2026-01-13T06:37:08.880' AS DateTime), N'PU Facade 310ml - Anthracite Grey', 243, 19.44, N'Completed')
GO
SET IDENTITY_INSERT [dbo].[ProductionLog] OFF
GO
SET IDENTITY_INSERT [dbo].[Recipes] ON 

INSERT [dbo].[Recipes] ([RecipeID], [RecipeName], [CreatedDate], [D1_Volume], [D1_Speed], [D1_Pressure], [D2_Volume], [D2_Speed], [D2_Pressure], [D3_Volume], [D3_Speed], [D3_Pressure], [D4_Volume], [D4_Speed], [D4_Pressure], [Tank_VacuumLevel], [Tank_MixerSpeed]) VALUES (1, N'PU Facade 310ml - Anthracite Grey', CAST(N'2025-12-21T19:39:26.460' AS DateTime), 295, 85, 120, 15, 85, 10, 295, 85, 120, 15, 85, 10, -600, 45)
INSERT [dbo].[Recipes] ([RecipeID], [RecipeName], [CreatedDate], [D1_Volume], [D1_Speed], [D1_Pressure], [D2_Volume], [D2_Speed], [D2_Pressure], [D3_Volume], [D3_Speed], [D3_Pressure], [D4_Volume], [D4_Speed], [D4_Pressure], [Tank_VacuumLevel], [Tank_MixerSpeed]) VALUES (2, N'PU Facade 600ml Sausage - White', CAST(N'2025-12-21T19:39:26.463' AS DateTime), 570, 60, 145, 30, 60, 12.5, 570, 60, 145, 30, 60, 12.5, -550, 60)
INSERT [dbo].[Recipes] ([RecipeID], [RecipeName], [CreatedDate], [D1_Volume], [D1_Speed], [D1_Pressure], [D2_Volume], [D2_Speed], [D2_Pressure], [D3_Volume], [D3_Speed], [D3_Pressure], [D4_Volume], [D4_Speed], [D4_Pressure], [Tank_VacuumLevel], [Tank_MixerSpeed]) VALUES (3, N'Hybrid Polymer 290ml - Crystal Clear', CAST(N'2025-12-21T19:39:26.463' AS DateTime), 290, 70, 130, 0, 0, 0, 290, 70, 130, 0, 0, 0, -700, 40)
SET IDENTITY_INSERT [dbo].[Recipes] OFF
GO
SET IDENTITY_INSERT [dbo].[ShiftStatistics] ON 

INSERT [dbo].[ShiftStatistics] ([StatID], [ShiftHour], [Quantity]) VALUES (1, 1, 75)
INSERT [dbo].[ShiftStatistics] ([StatID], [ShiftHour], [Quantity]) VALUES (2, 2, 82)
INSERT [dbo].[ShiftStatistics] ([StatID], [ShiftHour], [Quantity]) VALUES (3, 3, 70)
SET IDENTITY_INSERT [dbo].[ShiftStatistics] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemLogs] ON 

INSERT [dbo].[SystemLogs] ([LogID], [LogDate], [Username], [UserRole], [ActionDescription]) VALUES (1, CAST(N'2026-01-16T03:48:53.623' AS DateTime), N'Administrator', N'', N'Hatalı şifre denemesi yapıldı!')
INSERT [dbo].[SystemLogs] ([LogID], [LogDate], [Username], [UserRole], [ActionDescription]) VALUES (2, CAST(N'2026-01-16T03:48:56.527' AS DateTime), N'Administrator', N'', N'Hatalı şifre denemesi yapıldı!')
INSERT [dbo].[SystemLogs] ([LogID], [LogDate], [Username], [UserRole], [ActionDescription]) VALUES (3, CAST(N'2026-01-16T03:49:00.710' AS DateTime), N'Administrator', N'Administrator', N'Sisteme giriş yapıldı.')
SET IDENTITY_INSERT [dbo].[SystemLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Password], [UserRole]) VALUES (1, N'Administrator', N'1234', N'Administrator')
INSERT [dbo].[Users] ([UserID], [Username], [Password], [UserRole]) VALUES (2, N'Maintenance', N'2222', N'Maintenance')
INSERT [dbo].[Users] ([UserID], [Username], [Password], [UserRole]) VALUES (3, N'Operator', N'0000', N'Operator')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[ProductionLog] ADD  DEFAULT (getdate()) FOR [LogDate]
GO
ALTER TABLE [dbo].[Recipes] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SystemLogs] ADD  DEFAULT (getdate()) FOR [LogDate]
GO
ALTER TABLE [dbo].[GasSettings]  WITH CHECK ADD  CONSTRAINT [FK_RecipeGas] FOREIGN KEY([RecipeID])
REFERENCES [dbo].[Recipes] ([RecipeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GasSettings] CHECK CONSTRAINT [FK_RecipeGas]
GO
